<ul class="co_colors">
	<li>
        <span class="co_title">Brand Green</span>
		<span class="co_swatch" style="background: #00c000;"></span>
		<span class="co_label">#00c000</span>
	</li>
    <li>
        <span class="co_title">Background</span>
		<span class="co_swatch" style="background: #cdcac9;"></span>
		<span class="co_label">#cdcac9</span>
	</li>
</ul>
